<div class="flex justify-between items-center">
  <h1 class="text-2xl font-bold">Experiences</h1>
  <div data-controller="dialog">
    <sl-dialog label="Dialog" class="dialog-overview" data-dialog-target="dialog denyClose" >
      <%= render "form", experience: Experience.new %>
    </sl-dialog>
  
    <sl-button class="self-end" data-action="click->dialog#show">Add Experience</sl-button>
  </div>
</div>
<div>
  <% @experiences.each do |experience| %>
    <%= render experience %>
  <% end %>
</div>

