<div id="<%= dom_id job_listing %>">
  <p>
    <strong>Title:</strong>
    <%= job_listing.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= job_listing.description %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= job_listing.company_id %>
  </p>

</div>
