<div class="max-w-lg mx-auto">
  <%= link_to "Back to posts", posts_path %>
  
  <%= render @post %>
  
  <%= render "comments/form", post: @post, comment: Comment.new %>
  
  <%= render @post.comments.reverse %>
</div>