<li class='max-lg:border-b max-lg:py-3 px-3'>
    <a href='<%= route %>'
    class='hover:text-blue-500 <%= current_page?(route) ? "text-blue-500" : "text-gray-500" %> block font-semibold text-[15px]'><%= title %></a>
</li>